<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BGSniper-Databse"
    connectionString="Data Source=127.0.0.1;Initial Catalog=BGSniper_Database;user id=sa;password=P@55word"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>